.split-pane-divider {
    -fx-padding: 0 1 0 1 ;
    -fx-background-color: #212529;
    -fx-background-insets: 0;
}

.slider .track {
    -fx-control-inner-background: #fca311;
}

.scroll-bar:horizontal, .scroll-bar:vertical{
    -fx-background-color: #212529;
}

.scroll-pane > .corner {
    -fx-background-color: #212529;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #fca311;
    -fx-background-radius: 5em;
}

.tab-pane>*.tab-header-area>*.tab-header-background
{
   -fx-background-color: -fx-outer-border, -fx-text-box-border, #212529;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {-fx-border-color: #fca311}

.menu
{
     -fx-text-fill: blue;
}